@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
    font-family: "Noto Sans";
    font-weight: 400 500 700;
    src: url("./assets/fonts/NotoSans-VariableFont_wdth\,wght.ttf");
}

@theme {
    --color-Neutral-900: hsl(227, 75%, 14%);
    --color-Neutral-800: hsl(226, 25%, 17%);
    --color-Neutral-700: hsl(225, 23%, 24%);
    --color-Neutral-600: hsl(226, 11%, 37%);
    --color-Neutral-300: hsl(0, 0%, 78%);
    --color-Neutral-200: hsl(217, 61%, 90%);
    --color-Neutral-100: hsl(0, 0%, 93%);
    --color-Neutral-0: hsl(200, 60%, 99%);
    --color-Red-400: hsl(3, 86%, 64%);
    --color-Red-500: hsl(3, 71%, 56%);
    --color-Red-700: hsl(3, 77%, 44%);  
    --font-Noto-Sans: "Noto Sans"
}

body {
    @apply font-Noto-Sans bg-no-repeat min-h-dvh 
    bg-linear-180 from-[#EBF2FC] from-0% to-[#EEF8F9] to-100% 
    dark:bg-linear-180 dark:from-[#040918] dark:from-0% dark:to-[#091540] dark:to-100% 
}